*{
    font-family: 'Times New Roman', Times, serif;

}
.iniciar{
     text-align: center;
}
.iniciar h1{
    color: rgb(109, 106, 106);
}
.iniciar a{
    text-decoration: none;
}
.iniciar a:hover{
    background-color: rgb(129, 129, 129);
    color: white;
}
.iniciar .sesion{
    width: 300px;
    padding: 5px;
}
.ingresar{
    padding: 4px;
    background-color: rgb(2, 76, 155);
    color: white;
    border: 0;
    border-radius: 3px;
}
.registrarse{
    padding: 4px;
    background-color: rgb(86, 174, 4);
    color: white;
    border: 0;
    border-radius: 3px;
}
.regresar{
    padding: 4px;
    background-color: white;
    color: rgb(0, 140, 255);
    border: 0;
    border-radius: 3px;
}
